.main{
  height: calc(100vh - 64px - 2rem);
  padding: 0;
  margin: 0;
  border: 0px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.main::-webkit-scrollbar{
  display: none;
}
.score{
  position: fixed;
  right: 16px;
  bottom: 16px;
  font: 400 14px 'sans-serif';
  color: #616161;
  width: 300px;
}